**/.DS_Store
cs231n_assignments/assignment3/cs231n/datasets/coco_captioning
cs231n_assignments/assignment3/cs231n/datasets/imagenet_val_25.npz

algorithm/mergesort_and_quicksort/build
algorithm/mergesort_and_quicksort/docs/build
algorithm/mergesort_and_quicksort/docs/report.pdf
algorithm/mergesort_and_quicksort/.vscode
algorithm/mergesort_and_quicksort/samples/mergesort.out
algorithm/mergesort_and_quicksort/samples/yet_another_sample.in
algorithm/mergesort_and_quicksort/samples
OOP_Practise/practice2/.clangd/index
OOP_Practise/practice3/.clangd/index
OOP_Practise/practice5.1.1/.clangd/index
OOP_Practise/practice5.1.2/.clangd/index
automata/.idea
automata/.vscode
automata/data.in
automata/eg.py
cs231n_assignments/assignment2/cs231n/datasets/cifar-10-python.tar.gz
cs231n_assignments/assignment2/._.DS_Store
cs231n_assignments/._.DS_Store
kb/topic1/t1/.vscode
kb/topic1/t1/.clang-format
kb/topic1/t1/cpt1_unittest
kb/topic1/t1/cpt1_unittest.o
kb/topic1/t1/gtest-all.o
kb/topic1/t1/gtest_main.a
kb/topic1/t1/gtest_main.o
kb/topic1/t1/sin
kb/topic1/t10/.clang-format
kb/topic1/t10/gtest-all.o
kb/topic1/t10/gtest_main.a
kb/topic1/t10/gtest_main.o
kb/topic1/t10/sin
kb/topic1/t10/t10_unittest
kb/topic1/t10/t10_unittest.o
kb/topic1/t11/.clang-format
kb/topic1/t11/gtest-all.o
kb/topic1/t11/gtest_main.a
kb/topic1/t11/gtest_main.o
kb/topic1/t11/sin
kb/topic1/t11/t11_unittest
kb/topic1/t11/t11_unittest.o
kb/topic1/t12/.clang-format
kb/topic1/t12/gtest-all.o
kb/topic1/t12/gtest_main.a
kb/topic1/t12/gtest_main.o
kb/topic1/t12/sin
kb/topic1/t12/t12_unittest
kb/topic1/t12/t12_unittest.o
kb/topic1/t13/.clang-format
kb/topic1/t13/gtest-all.o
kb/topic1/t13/gtest_main.a
kb/topic1/t13/gtest_main.o
kb/topic1/t13/sin
kb/topic1/t13/t13_unittest
kb/topic1/t13/t13_unittest.o
kb/topic1/t14/.clang-format
kb/topic1/t14/gtest-all.o
kb/topic1/t14/gtest_main.a
kb/topic1/t14/gtest_main.o
kb/topic1/t14/sin
kb/topic1/t14/t14_unittest
kb/topic1/t14/t14_unittest.o
kb/topic1/t2/.vscode
kb/topic1/t2/.clang-format
kb/topic1/t2/gtest-all.o
kb/topic1/t2/gtest_main.a
kb/topic1/t2/gtest_main.o
kb/topic1/t2/sin
kb/topic1/t2/t2_unittest
kb/topic1/t2/t2_unittest.o
kb/topic1/t3/.clang-format
kb/topic1/t3/gtest-all.o
kb/topic1/t3/gtest_main.a
kb/topic1/t3/gtest_main.o
kb/topic1/t3/sin
kb/topic1/t3/t3_unittest
kb/topic1/t3/t3_unittest.o
kb/topic1/t4/.clang-format
kb/topic1/t4/gtest-all.o
kb/topic1/t4/gtest_main.a
kb/topic1/t4/gtest_main.o
kb/topic1/t4/sin
kb/topic1/t4/sin_impossible
kb/topic1/t4/t4_unittest
kb/topic1/t4/t4_unittest.o
kb/topic1/t5/gtest-all.o
kb/topic1/t5/gtest_main.a
kb/topic1/t5/gtest_main.o
kb/topic1/t5/t5_unittest
kb/topic1/t5/t5_unittest.o
kb/topic1/t6/.clang-format
kb/topic1/t6/gtest-all.o
kb/topic1/t6/gtest_main.a
kb/topic1/t6/gtest_main.o
kb/topic1/t6/sin
kb/topic1/t6/t6_unittest
kb/topic1/t6/t6_unittest.o
kb/topic1/t7/.clang-format
kb/topic1/t7/gtest-all.o
kb/topic1/t7/gtest_main.a
kb/topic1/t7/gtest_main.o
kb/topic1/t7/sin
kb/topic1/t7/t7_unittest
kb/topic1/t7/t7_unittest.o
kb/topic1/t8/.clang-format
kb/topic1/t8/gtest-all.o
kb/topic1/t8/gtest_main.a
kb/topic1/t8/gtest_main.o
kb/topic1/t8/sin
kb/topic1/t8/t8_unittest
kb/topic1/t8/t8_unittest.o
kb/topic1/t9/.clang-format
kb/topic1/t9/gtest-all.o
kb/topic1/t9/gtest_main.a
kb/topic1/t9/gtest_main.o
kb/topic1/t9/sin
kb/topic1/t9/sout
kb/topic1/t9/t9_unittest
kb/topic1/t9/t9_unittest.o
kb/topic1/.clang-format
kb/topic12/t1/gtest-all.o
kb/topic12/t1/gtest_main.a
kb/topic12/t1/gtest_main.o
kb/topic12/t1/sin
kb/topic12/t1/t1_unittest
kb/topic12/t1/t1_unittest.o
kb/topic4/t1-poj-2387/.clang-format
kb/.clang-format
kb/topic4/.clang-format
kb_ans/topic1/t1pa/gtest-all.o
kb_ans/topic1/t1pa/gtest_main.a
kb_ans/topic1/t1pa/gtest_main.o
kb_ans/topic1/t1pa/t1pa_unittest
kb_ans/topic1/t1pa/t1pa_unittest.o
kb_ans/topic1/t1pb/gtest-all.o
kb_ans/topic1/t1pb/gtest_main.a
kb_ans/topic1/t1pb/gtest_main.o
kb_ans/topic1/t1pb/t1pb_unittest
kb_ans/topic1/t1pb/t1pb_unittest.o
python/sin
._.DS_Store
.clangd