**/.DS_Store
cs231n_assignments/assignment3/cs231n/datasets/coco_captioning
cs231n_assignments/assignment3/cs231n/datasets/imagenet_val_25.npz

algorithm/mergesort_and_quicksort/build
algorithm/mergesort_and_quicksort/docs/build
algorithm/mergesort_and_quicksort/docs/report.pdf
algorithm/mergesort_and_quicksort/.vscode
algorithm/mergesort_and_quicksort/samples/mergesort.out
algorithm/mergesort_and_quicksort/samples/yet_another_sample.in
algorithm/mergesort_and_quicksort/samples